# Reference https://github.com/github/gitignore/blob/master/Go.gitignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# OS General
Thumbs.db
.DS_Store

# project
*.cert
*.key
*.log
bin/

# Develop tools
.vscode/
.idea/
*.swp

cmd/server/server
cmd/server/server.exe
#build.sh
#start.sh
js
go.work
go.work.sum
.claude
CLAUDE.md

example/knowledge_agent_tool_test/knowledge_agent_tool_test
example/mem_agent_test/mem_agent_test

.env
.codex